$alive-color: #60DA36;
$dead-color: #5350F7;

.cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  line-height: 0;
}

#board {
  width: 600px;
  line-height: 0;
  margin: 15px 40px;
}

.alive {
  background-color: $alive-color;
}

.dead {
  background-color: $dead-color;
}