$alive-color: black;
$dead-color: white;

.cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  line-height: 0;
}

#board {
  width: 600px;
  line-height: 0;
}

.alive {
  background-color: $alive-color;  
}
