$alive-color: #60DA36;
$dead-color: #5350F7;

.cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #b3b3b3;
  margin: 0px;
  padding: 0px;
  line-height: 0;
}

#board {
  width: 600px;
  line-height: 0;
  margin: 0px;
}

#options {
  margin: 10px 0px;
  padding: 10px 0px;
}

.alive {
  background-color: $alive-color;
}

.dead {
  background-color: $dead-color;
}

.center {
  text-align: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.iteration-btn {
  margin: 5px 10px;
  padding: 10px 30px;
}

.title {
  margin: 10px 50px;
  font-weight: bold;
  font-size: 40px;
}